<h1>Liste des membres</h1>
<p><%= @members.nom %></p>
<p><%= @members.prenom %></p>
<p><%= @members.date %></p>
<p><%= @members.adresse %></p>
<p><%= @members.email %></p>
<p><%= @members.cp %></p>
<p><%= @members.tel %></p>
